h1, h2, h3, h4, .haiku{
    font-family: Papyrus, fantasy;
    text-align: center;
}
.haiku {
    font-style: italic;
    width: 100%;
}
.attribution {
    margin-left: 2em
}
.attribution:before {
    content: "-";
}
